:root {
    /* Colors */
    --primary-color: #333;
    --secondary-color: #555;
    --background-color: #f8f9fa;
    --border-color: #ddd;
    --accent-color: #ccc; 

    /* Font Sizes */
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-title: 1.5rem;

    /* Spacing and Layout */
    --padding-small: 0.3rem;
    --padding-medium: 0.5rem;
    --padding-large: 1rem;
    --card-border-radius: 2px;
    --container-width: 1000px;
    --main-width: 900px;
    --gap: 2.5rem;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: var(--padding-small);
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    position: relative;
    text-align: center;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: var(--container-width);
}

.navbar-brand-container {
    display: flex;
    align-items: center;
    margin: var(--padding-small) 0;
}

.navbar-brand {
    font-size: var(--font-size-large);
    margin-right: var(--padding-large);
}

.navbar-link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--font-size-medium);
}

.hamburger-menu {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    padding: 0.25rem 0.8rem;
}

.hamburger-bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 2px 0;
}

.main {
    max-width: var(--main-width);
    margin: auto;
}

.main-content {
    margin: 0 var(--padding-large);
}

.main-title {
    font-size: var(--font-size-title);
    font-weight: bold;
    margin-bottom: var(--padding-medium);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--padding-medium);
}

.trending-product-info {
    font-size: var(--font-size-small);
    color: var(--secondary-color);
}

.trending-product-info strong {
    font-weight: bold;
}

.search-bar {
    font-size: var(--font-size-small);
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    width: 100%;
    min-height: 25px;
    max-width: 200px;
    margin-bottom: var(--padding-large);
}

.product-grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: var(--main-width);
}

.product-card {
    border: 1px solid var(--primary-color);
    padding: var(--padding-small) 0;
    border-radius: var(--card-border-radius);
    text-align: left;
    font-size: var(--font-size-medium);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-title {
    font-size: var(--font-size-small);
    font-weight: bold;
    margin: var(--padding-small);
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-small);
    color: #666;
    margin: var(--padding-small);
}

.product-brand {
    font-weight: normal;
    margin-right: var(--padding-small);
}

.product-price {
    font-weight: bold;
}

.product-card p {
    font-size: var(--font-size-small);
    color: #666;
    margin: 0.2rem 0;
}

@media (max-width: 768px) {
    .main-content {
        margin: 0 30px;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 1rem;
        background-color: var(--background-color);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        padding: var(--padding-large);
        border-radius: 5px;
    }

    .navbar-links.open {
        display: block;
    }

    .hamburger-menu {
        display: flex;
    }

    .main-title {
        margin-bottom: var(--padding-large);
    }
    
    .search-container {
        display: grid;
        align-items: normal;
        justify-content: normal;
        min-width: 200px;
        padding-right: 2px;
        margin-bottom: var(--padding-large);
    }

    .trending-product-info {
        margin-bottom: var(--padding-large);
        min-width: 100%; 
    }

    .search-bar {
        min-width: 100%;
    }

    .product-card {
        max-height: 76px;
        min-width: 100%;
    }
}
